<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='main.css') }}">
    <title>Lost Calls</title>
</head>
<header>
    <a href="/web/call/status/0">Входящий вызов принят</a>
    <a href="/web/call/status/1">Входящий вызов не принят</a>
    <a href="/web/call/status/2">Перезвонили</a>

</header>
<table>
    <tr>
        <td>Номер клиента</td>
        <!-- <td>Номер оператора</td> -->
        <td>Дата время</td>
        <td>Ссылка на запись</td>
    </tr>

    <body>
        {% for entry in call %}
        <tr>
            <!-- <td>{{ entry.client }}</td> -->
            <td><a href="tel:{{ entry.client }}">{{ "%s %s %s %s"|format(entry.client[0:1], entry.client[1:4], entry.client[4:7], entry.client[7:11]) }}</a></td>
            <!-- <td>{{ entry.Operator }}</td> -->
            <td>{{ entry.time }}</td>
            <td>
                {% if entry.recordUrl|length > 1 %}
                <audio src="{{ entry.recordUrl }}" type="audio/mp3" preload="none" controls>Запись</audio>
                {% endif %}
            </td>

        </tr>
        {% endfor %}
    </body>
</table>

</html>